Ryanstaurant.Clients.WPF.ManagementCenter.Model/Service References/UMSProxy/UMSService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
  <xs:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResultEntityOfArrayOfEmployeekB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEmployee" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q1:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfEmployeekB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfEmployeekB23VQsu" />
  <xs:simpleType name="ResultState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultState" nillable="true" type="tns:ResultState" />
  <xs:complexType name="ResultEntityOfArrayOfRolekB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRole" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q2:ArrayOfRole" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfRolekB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfRolekB23VQsu" />
  <xs:complexType name="ResultEntityOfArrayOfAuthoritykB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAuthority" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q3:ArrayOfAuthority" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfAuthoritykB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfAuthoritykB23VQsu" />
  <xs:complexType name="ResultEntityOfArrayOfEmpRolekB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEmpRole" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q4:ArrayOfEmpRole" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfEmpRolekB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfEmpRolekB23VQsu" />
  <xs:complexType name="ResultEntityOfArrayOfRoleAuthkB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfRoleAuth" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q5:ArrayOfRoleAuth" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfRoleAuthkB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfRoleAuthkB23VQsu" />
  <xs:complexType name="ResultEntityOfArrayOfEmpAuthkB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEmpAuth" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q6:ArrayOfEmpAuth" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfEmpAuthkB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfEmpAuthkB23VQsu" />
</xs:schema>