Ryanstaurant.Clients.WPF.ManagementCenter.Model/Service References/UMSProxy/UMSService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
  <xs:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" />
  <xs:element name="GetEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="employees" nillable="true" type="q1:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="GetEmployeesResult" nillable="true" type="q2:ResultEntityOfArrayOfEmployeekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="employees" nillable="true" type="q3:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="AddEmployeesResult" nillable="true" type="q4:ResultEntityOfArrayOfEmployeekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="employees" nillable="true" type="q5:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="ModifyEmployeesResult" nillable="true" type="q6:ResultEntityOfArrayOfEmployeekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="employees" nillable="true" type="q7:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="DeleteEmployeesResult" nillable="true" type="q8:ResultEntityOfArrayOfEmployeekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roles" nillable="true" type="q9:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="GetRolesResult" nillable="true" type="q10:ResultEntityOfArrayOfRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roles" nillable="true" type="q11:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="AddRolesResult" nillable="true" type="q12:ResultEntityOfArrayOfRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roles" nillable="true" type="q13:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="ModifyRolesResult" nillable="true" type="q14:ResultEntityOfArrayOfRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roles" nillable="true" type="q15:ArrayOfRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="DeleteRolesResult" nillable="true" type="q16:ResultEntityOfArrayOfRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthorities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="authorities" nillable="true" type="q17:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthoritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="GetAuthoritiesResult" nillable="true" type="q18:ResultEntityOfArrayOfAuthoritykB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthorities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="authorities" nillable="true" type="q19:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuthoritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="AddAuthoritiesResult" nillable="true" type="q20:ResultEntityOfArrayOfAuthoritykB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAuthorities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="authorities" nillable="true" type="q21:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyAuthoritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="ModifyAuthoritiesResult" nillable="true" type="q22:ResultEntityOfArrayOfAuthoritykB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthorities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="authorities" nillable="true" type="q23:ArrayOfAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuthoritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="DeleteAuthoritiesResult" nillable="true" type="q24:ResultEntityOfArrayOfAuthoritykB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empRoles" nillable="true" type="q25:ArrayOfEmpRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="GetEmpRolesResult" nillable="true" type="q26:ResultEntityOfArrayOfEmpRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empRoles" nillable="true" type="q27:ArrayOfEmpRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="AddEmpRolesResult" nillable="true" type="q28:ResultEntityOfArrayOfEmpRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEmpRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empRoles" nillable="true" type="q29:ArrayOfEmpRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEmpRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="ModifyEmpRolesResult" nillable="true" type="q30:ResultEntityOfArrayOfEmpRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empRoles" nillable="true" type="q31:ArrayOfEmpRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="DeleteEmpRolesResult" nillable="true" type="q32:ResultEntityOfArrayOfEmpRolekB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roleAuths" nillable="true" type="q33:ArrayOfRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="GetRoleAuthsResult" nillable="true" type="q34:ResultEntityOfArrayOfRoleAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roleAuths" nillable="true" type="q35:ArrayOfRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="AddRoleAuthsResult" nillable="true" type="q36:ResultEntityOfArrayOfRoleAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRoleAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roleAuths" nillable="true" type="q37:ArrayOfRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyRoleAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="ModifyRoleAuthsResult" nillable="true" type="q38:ResultEntityOfArrayOfRoleAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="roleAuths" nillable="true" type="q39:ArrayOfRoleAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="DeleteRoleAuthsResult" nillable="true" type="q40:ResultEntityOfArrayOfRoleAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empAuths" nillable="true" type="q41:ArrayOfEmpAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmpAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="GetEmpAuthsResult" nillable="true" type="q42:ResultEntityOfArrayOfEmpAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empAuths" nillable="true" type="q43:ArrayOfEmpAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmpAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="AddEmpAuthsResult" nillable="true" type="q44:ResultEntityOfArrayOfEmpAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEmpAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empAuths" nillable="true" type="q45:ArrayOfEmpAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyEmpAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="ModifyEmpAuthsResult" nillable="true" type="q46:ResultEntityOfArrayOfEmpAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpAuths">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="empAuths" nillable="true" type="q47:ArrayOfEmpAuth" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" minOccurs="0" name="DeleteEmpAuthsResult" nillable="true" type="q48:ResultEntityOfArrayOfEmpAuthkB23VQsu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>