Ryanstaurant.Clients.WPF.ManagementCenter.Model/Service References/UMSProxy/UMSService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authority" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfAuthority">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Authority" nillable="true" type="tns:Authority" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthority" nillable="true" type="tns:ArrayOfAuthority" />
  <xs:complexType name="Authority">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="KeyCode" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authority" nillable="true" type="tns:Authority" />
  <xs:complexType name="ArrayOfEmpRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpRole" nillable="true" type="tns:EmpRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpRole" nillable="true" type="tns:ArrayOfEmpRole" />
  <xs:complexType name="EmpRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpRole" nillable="true" type="tns:EmpRole" />
  <xs:complexType name="ArrayOfRoleAuth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleAuth" nillable="true" type="tns:RoleAuth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleAuth" nillable="true" type="tns:ArrayOfRoleAuth" />
  <xs:complexType name="RoleAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthID" type="xs:int" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleAuth" nillable="true" type="tns:RoleAuth" />
  <xs:complexType name="ArrayOfEmpAuth">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmpAuth" nillable="true" type="tns:EmpAuth" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpAuth" nillable="true" type="tns:ArrayOfEmpAuth" />
  <xs:complexType name="EmpAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthID" type="xs:int" />
      <xs:element minOccurs="0" name="EmpID" type="xs:int" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmpAuth" nillable="true" type="tns:EmpAuth" />
</xs:schema>