Ryanstaurant.Clients.WPF.ManagementCenter.Model/Service References/UMSProxy/UMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
      <xsd:import schemaLocation="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUMSService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployees" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmployees" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployees" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorities" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorities" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAuthorities" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteAuthorities_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthorities" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteAuthorities_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthoritiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetEmpRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetEmpRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddEmpRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddEmpRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyEmpRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyEmpRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteEmpRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpRoles" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteEmpRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetRolAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRolAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetRolAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRolAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddRolAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRolAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddRolAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRolAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyRolAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyRolAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyRolAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyRolAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteRolAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRolAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteRolAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRolAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetEmpAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_GetEmpAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddEmpAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_AddEmpAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmpAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyEmpAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_ModifyEmpAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyEmpAuthsResponse" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteEmpAuths_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpAuths" />
  </wsdl:message>
  <wsdl:message name="IUMSService_DeleteEmpAuths_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpAuthsResponse" />
  </wsdl:message>
  <wsdl:portType name="IUMSService">
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/GetEmployees" message="tns:IUMSService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/GetEmployeesResponse" message="tns:IUMSService_GetEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/AddEmployees" message="tns:IUMSService_AddEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/AddEmployeesResponse" message="tns:IUMSService_AddEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/ModifyEmployees" message="tns:IUMSService_ModifyEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/ModifyEmployeesResponse" message="tns:IUMSService_ModifyEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/DeleteEmployees" message="tns:IUMSService_DeleteEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/DeleteEmployeesResponse" message="tns:IUMSService_DeleteEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/GetRoles" message="tns:IUMSService_GetRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/GetRolesResponse" message="tns:IUMSService_GetRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/AddRoles" message="tns:IUMSService_AddRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/AddRolesResponse" message="tns:IUMSService_AddRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/ModifyRoles" message="tns:IUMSService_ModifyRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/ModifyRolesResponse" message="tns:IUMSService_ModifyRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/DeleteRoles" message="tns:IUMSService_DeleteRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/DeleteRolesResponse" message="tns:IUMSService_DeleteRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/GetAuthorities" message="tns:IUMSService_GetAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/GetAuthoritiesResponse" message="tns:IUMSService_GetAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAuthorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/AddAuthorities" message="tns:IUMSService_AddAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/AddAuthoritiesResponse" message="tns:IUMSService_AddAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyAuthorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/ModifyAuthorities" message="tns:IUMSService_ModifyAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/ModifyAuthoritiesResponse" message="tns:IUMSService_ModifyAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/DeleteAuthorities" message="tns:IUMSService_DeleteAuthorities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/DeleteAuthoritiesResponse" message="tns:IUMSService_DeleteAuthorities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/GetEmpRoles" message="tns:IUMSService_GetEmpRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/GetEmpRolesResponse" message="tns:IUMSService_GetEmpRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmpRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/AddEmpRoles" message="tns:IUMSService_AddEmpRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/AddEmpRolesResponse" message="tns:IUMSService_AddEmpRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/ModifyEmpRoles" message="tns:IUMSService_ModifyEmpRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/ModifyEmpRolesResponse" message="tns:IUMSService_ModifyEmpRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/DeleteEmpRoles" message="tns:IUMSService_DeleteEmpRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/DeleteEmpRolesResponse" message="tns:IUMSService_DeleteEmpRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRolAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/GetRolAuths" message="tns:IUMSService_GetRolAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/GetRolAuthsResponse" message="tns:IUMSService_GetRolAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRolAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/AddRolAuths" message="tns:IUMSService_AddRolAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/AddRolAuthsResponse" message="tns:IUMSService_AddRolAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyRolAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/ModifyRolAuths" message="tns:IUMSService_ModifyRolAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/ModifyRolAuthsResponse" message="tns:IUMSService_ModifyRolAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRolAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/DeleteRolAuths" message="tns:IUMSService_DeleteRolAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/DeleteRolAuthsResponse" message="tns:IUMSService_DeleteRolAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/GetEmpAuths" message="tns:IUMSService_GetEmpAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/GetEmpAuthsResponse" message="tns:IUMSService_GetEmpAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmpAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/AddEmpAuths" message="tns:IUMSService_AddEmpAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/AddEmpAuthsResponse" message="tns:IUMSService_AddEmpAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/ModifyEmpAuths" message="tns:IUMSService_ModifyEmpAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/ModifyEmpAuthsResponse" message="tns:IUMSService_ModifyEmpAuths_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpAuths">
      <wsdl:input wsaw:Action="http://tempuri.org/IUMSService/DeleteEmpAuths" message="tns:IUMSService_DeleteEmpAuths_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUMSService/DeleteEmpAuthsResponse" message="tns:IUMSService_DeleteEmpAuths_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUMSService" type="tns:IUMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IUMSService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployees">
      <soap:operation soapAction="http://tempuri.org/IUMSService/AddEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmployees">
      <soap:operation soapAction="http://tempuri.org/IUMSService/ModifyEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployees">
      <soap:operation soapAction="http://tempuri.org/IUMSService/DeleteEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/GetRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/AddRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/ModifyRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/DeleteRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthorities">
      <soap:operation soapAction="http://tempuri.org/IUMSService/GetAuthorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAuthorities">
      <soap:operation soapAction="http://tempuri.org/IUMSService/AddAuthorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyAuthorities">
      <soap:operation soapAction="http://tempuri.org/IUMSService/ModifyAuthorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthorities">
      <soap:operation soapAction="http://tempuri.org/IUMSService/DeleteAuthorities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/GetEmpRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/AddEmpRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/ModifyEmpRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpRoles">
      <soap:operation soapAction="http://tempuri.org/IUMSService/DeleteEmpRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRolAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/GetRolAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRolAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/AddRolAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyRolAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/ModifyRolAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRolAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/DeleteRolAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/GetEmpAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmpAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/AddEmpAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyEmpAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/ModifyEmpAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpAuths">
      <soap:operation soapAction="http://tempuri.org/IUMSService/DeleteEmpAuths" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UMSService">
    <wsdl:port name="BasicHttpBinding_IUMSService" binding="tns:BasicHttpBinding_IUMSService">
      <soap:address location="http://localhost/RyanstaurantApplicationServer/UMS/UMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>