Ryanstaurant.Clients.ManagementCenter/Service References/Proxy.UMS/Ryanstaurant.UMS.DataContract.Utility.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ResultEntityOfArrayOfEmployeekB23VQsu">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract.Utility" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfEmployee" Namespace="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ryanstaurant.UMS.DataContract" minOccurs="0" name="ResultObject" nillable="true" type="q1:ArrayOfEmployee" />
      <xs:element minOccurs="0" name="State" type="tns:ResultState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResultEntityOfArrayOfEmployeekB23VQsu" nillable="true" type="tns:ResultEntityOfArrayOfEmployeekB23VQsu" />
  <xs:simpleType name="ResultState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Fail">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ResultState" nillable="true" type="tns:ResultState" />
</xs:schema>